\documentclass{article}

\usepackage{geometry}
\usepackage{graphicx}
\usepackage{fancyhdr}
\usepackage{titlepic}
\usepackage[skip=2em]{parskip}
\renewcommand{\thesection}{\arabic{section}.}
\geometry{margin=65pt}
{% if color != [] %}
\usepackage[most]{tcolorbox}
\usepackage[outputdir=latex]{minted}
\usepackage{environ}
{% for c in color %}
\definecolor{{ '{' }}{{ c["name"] }}{{ '}' }}{RGB}{{ '{' }}{{ c["code"] }}{{ '}' }}
{% endfor %}

\tcbuselibrary{breakable}
\tcbuselibrary{minted}

\newtcblisting{thecode}[3]{
    colback=#3!20,
    attach boxed title to top left={xshift=6mm,yshift=-3mm},
    colframe=#3,
    colbacktitle=#3,
    title=#1,
    fonttitle=\bfseries\color{black},
    boxed title style={size=small,colframe=#3,sharp corners},
    minted options={
        breaklines=true
    },
    minted language=#2,
    breakable,
    enhanced,
    sharp corners,
    listing only
}

{% endif %}

\graphicspath{{ '{' }}{.}{..}{{ '}' }}
\title{{ '{' }}{{ judul }}{{ '}' }}
\titlepic{\includegraphics[width=5cm]{Logo_Of_EEPIS.png}} 

\begin{document}
\begin{titlepage}
    \pagenumbering{gobble}
    \maketitle
    \begin{center}
        2103191042 \\
        Alexander Septian
    \end{center}
\end{titlepage}

\end{document}